payment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="payment">
        <xsd:complexType>
            <xsd:sequence>

                <xsd:element name="id" type="xsd:string"/>

                <xsd:element name="amount" type="xsd:decimal"/>

            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>